@charset "UTF-8";

body {
	padding-top: 90px;
	background-color: seashell;
}

img {
	max-width: 100%;
/*	height: auto; */
	max-height: 100%;
}

.header-storename {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/*background-color:gold;*/
/*	padding: 0; */
	text-align: center;
/*	z-index: 1000; */
}

.header-image-wrapper {
	position: relative;
	width: 100%;
	height: 90px;
/*	flex-direction: column;
	overflow: hidden; */
}

.header-background-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%; 
	height: 90px;
/*	padding: 0; 
	text-align: center; */
}

.header-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
/*	max-width: 100%; 
	height: auto; */
}

.center-text {
	color: black;
	font-size: 20px;
	text-align: center;
}

.center-container {
	display: flex;
	justify-content: center;
	align-items: center;
/*	width: 100%;
	height: 100%; */
}

.square-box {
	width: 500px;
	height: 90px;
	background-color: gold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 10px;
}

.table-number {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 30px;
	font-weight: bold;
	color: black;
}

.footer-buttons {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: white; /*フッターの背景色*/
	color: black;
	text-align: center;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	border-top: 2px solid #D3D3D3; /*線の削除*/
	z-index: 1000;
}

.footer-wrapper {
	position: relative;
	width: 100%;
	height: 90px;
	overflow: hidden;
}

.fixed-right-button {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 35%;
	height: 90px;
	padding: 10px 20px;
	background-color: coral;
	color: black;
	border: none;
	border-radius: 0px;
	cursor: pointer;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px; /*画像とテキストの間隔*/
}

.fixed-right-button img {
	width: 60px;
	height: 60px;
	object-fit: contain;
}

.fixed-left-button {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 35%;
	height: 90px;
	padding: 10px 20px;
	background-color: palegreen;
	color: black;
	border: none;
	border-radius: 0px;
	cursor: pointer;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px; /*画像とテキストの間隔*/
}

.fixed-left-button img {
	width: 60px;
	height: 60px;
	object-fit: contain;
}

/* */

.footer-subtotal {
	position: fixed;
	bottom: 90px;
	left: 0;
	width: 100%;
	background-color: seashell; /*フッターの背景色*/
	color: black;
	text-align: center;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	border-top: 2px solid black; /*線の削除*/
	z-index: 999;
}

.footer-subtotal-wrapper {
	position: relative;
	width: 100%;
	height: 90px;
	overflow: hidden;
}

.size-text {
	font-size: 20pt;
}

